body{
  background-color: #e7e7de;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #0f3057;
  border-width: 5px;
  width: 10%;
}
img{
  height: 150px;
}
h1{
  color: #290001;
}
h3, h4{
  color: #00587a;
}
